{% extends 'nav.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'about_us.css' %}" type="text/css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
{% endblock link %}

{% block content %}

<!-- NAV BAR START-->
<div class="content">
  <div class="logo"><a href="/">BANK</a></div>
  <ul class="links">
    <li><a href="/">Home</a></li>
    <li><a href="https://bankingapplicationbymaulik.herokuapp.com/customer/">Customers</a></li>
    <li><a href="https://bankingapplicationbymaulik.herokuapp.com/transaction">Transaction</a></li>
    <li><a href="https://bankingapplicationbymaulik.herokuapp.com/about_us">About us</a></li>
  </ul>
</div>
{% endblock %}


{% block extra_content%}

<!--<h1 style="margin-top: 3cm; margin-left: 10cm; font-size: 42px;">Customer List</h1>-->
<div class="title">
  <h1>About Us</h1>
</div>
{% endblock %}

{% block temp_button %}
<div class="section">
  <div class="container">
    <div class="content-section">
      <div class="content">
        <h1>Introduction</h1>
        <p>Hello, My name is Maulik Bhalani. I am 3rd year student and currently persuing computer science and engineering</p>
        
        <br><br>
        <h1>Project Info:</h1>
        <p>For this project, I have used a mentioned languages.</p>
        <p>Front End: HTML,CSS,JAVASCIPT</p>
        <p>Back End: Django</p>
        <div class="button">
          <a href="https://github.com/MaulikBhalani/bank/blob/main/README.md">Read More</a>
        </div>
      </div>
      <div class="social" style="margin-left:-0.2cm">
        <a href="https://github.com/MaulikBhalani"><i class="fab fa-github"></i></a>
        <a href="mailto:codelearning212@gmail.com"><i class="fab fa-google-plus-square"></i></a>
        <a href="https://in.linkedin.com/in/maulik-bhalani-752b10193"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div class="image-section">
      <img
        src="https://www.pngitem.com/pimgs/m/24-248309_transparent-profile-clipart-font-awesome-user-circle-hd.png">
  </div>
</div>
{% endblock %}